.advanceButtonContainer {
    text-align: center !important;
}

.advanceButton {
    background-color: var(--primary-color) !important;
    /* background-color: green !important; */
}

.money {
    font-size: 5vw;
    color: var(--primary-color);
}

.accountTitle {
    font-size: 2vw;
    margin-bottom: 0;
}

.income {
    font-size: 2vw;
    color: var(--primary-color);
}

.prizePrice {
    font-size: 2vw;
    color: var(--primary-color);
}


/* Prizes CSS Below */
.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 22%;
}


/* Prizes CSS Above*/